@charset "gb2312";
/* CSS Document */
.ititle { 
	color: #000; 
	font: 20px/1.5 "Microsoft YaHei"; 
	margin:10px; 
	}
.itime { 
	color: #000c; font: 400 16px/1.5 "Microsoft YaHei"; 
	text-align: right; 
	margin:10px; 
	margin-right:20px; }
.icontent{ 
	color: #000c; 
	font: 400 16px/1.5 "Microsoft YaHei"; 
	margin:10px;
	margin-right:20px;
	}
.icontent p {
	text-indent:2em;
	}
ol{
	padding-left: 20px;
}
blockquote{
    font: 14px/22px normal helvetica, sans-serif;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 50px;
    padding-left: 15px;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    border-left: 3px solid #ccc;
    background-color:#f1f1f1
}
